.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 600px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}
