.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
